.screen-block {
    height: 100vh;
    overflow: auto;
    position: relative;
}

.form-block {
    position: absolute;
    top: 30%;
    right: 30%;
    width: 40%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 20px 5px;
}

.form-item:not(:last-child) {
    margin-bottom: 10px;
}

.title {
    line-height: 2.3rem;
}

.modal.custom .modal-footer .btn {
    min-width: 80px;
    cursor: pointer;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.ratio-wrapper {
    position: relative;
    width: 100%;
}

.ratio-wrapper:before {
    content: "";
    display: block;
}

.ratio-wrapper.ratio-wrapper-27-10:before {
    padding-top: 33%; /* initial ratio 27:10*/
}

.ratio-wrapper.ratio-wrapper-2-1:before {
    padding-top: 50%; /* initial ratio 2:1*/
}

.ratio-wrapper.ratio-wrapper-16-9:before {
    padding-top: 56.25%; /* initial ratio 16:9*/
}

.ratio-wrapper.ratio-wrapper-3-2:before {
    padding-top: 67%; /* initial ratio 3:2*/
}

.ratio-wrapper.ratio-wrapper-4-3:before {
    padding-top: 75%; /* initial ratio 4:3*/
}

.ratio-wrapper.ratio-wrapper-1-1:before {
    padding-top: 100%; /* initial ratio 1:1*/
}

.ratio-wrapper > .ratio-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-responsive {
    width: 100%;
}

.detail-block {
    margin: 5% auto;
    width: 80%;
}

.full-width{
    width: 100%;
}

.text-detail {
    max-height: 25px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.product-block {
    margin: 10px 0;
    width: 100%;
}

.group-action {
    margin: 10px auto;
}

.table-list-block, .product-block-list{
    display: inline-block;
    width: 100%;
}

.table-block {
    float: left;
    width: calc(100% / 4);
}

.input-block, .text-block, .button-block {
    margin: 10px auto;
}
.text-block{
    min-height: 1em;
}

.product-block-list .product-block {
    float: left;
    width: calc(100% / 11);
    margin: 0;
    margin-right: calc(100% / 121);
    margin-bottom: calc(100% / 121);
    border: 1px solid #000;
    padding: 2px;
}

.product-block-list .product-block .product-image {
    display: none;
}

.product-block-list .product-block:hover .product-image{
    display: block;
}

.product-block-list .product-block:hover .product-text{
    display: none;
}


.main-image-block{
    border: 1px solid #000;
    padding: 5px;
}

#upload {
    display: none;
}

.upload-icon{
    display: inline-block;
    padding: 8px;
    border: 1px solid #000;
}

.hidden{
    display: none;
}

.time-block{
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px #000;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
}
.time-detail{
    font-size: 500%;
}

.input-block .select2-container{
    width: 100% !important;
}

.select2-results img{
    width: 20px;
    margin-right: 5px;
}

.select2-container .select2-selection--single{
    height: 2.45rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 2.45rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.45rem;
}
.numberic-list-block{
    width: 40%;
    display: inline-block;
}
.numberic-list-block.input{
    width: 40%;
}
.numberic-item{
    float: left;
    width: calc(100%/5);
    margin-bottom: calc(100%/25);
}

.numberic-item input {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px;
}
.swaper-border .swiper-slide-active{
    border: 1px solid #000;
}
.swiper-slide.swiper-slide-active .button-block{
    display: block;
}

.swiper-slide .button-block{
    display: none;
}

.custom-navigate .swiper-button-next, .custom-navigate .swiper-button-prev{
    top: 5%;
    background-size: 15px 25px;
}
.custom-navigate .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 30%;
}

.custom-navigate  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 30%;
}

.width-half{
    width: 50%;
    display: inline-block;
}

.width-quarter{
    width: 25%;
    display: inline-block;
}

.calendar-block .input-block label{
    min-width: 30px;
}

.swiper-content-block{
    margin-top: 15px;
}